.wrapper {
 margin: 0px auto 74px;
 padding: 20px 20px 20px 35px;
 .b-row {
   border-bottom: 1px solid #ccc;
   padding: 20px;
   text-align: left;
   word-wrap: break-word;
 }
}
.user_image {
  float: left;
  margin-right: 10px;
  max-width: 50px;
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container {
  padding-bottom: 85px;
}

.blog-top-btn {
  display: none;
  border-radius: 50px;
  background: #996633;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  a:hover {
    border-radius: 50px;
    opacity: 0.7;
  }
}
